#field {
    position: relative;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    min-height: 550px;
}

#field {
    height: 700px;
    background: url(../img/bg.jpg);
    background-size: 100% 100%;
    padding-bottom: 0;
}

#game-field {
}

.gameArea {
    border-color: #4c4c4c !important;
}

.gameArea, .bottomArea {
    width: 730px;
}
.gameArea {
    border: 3px solid #004f00;
    border-radius: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f0f0f0;
    width: 720px;
}

#gameField .player_1 {
    top: 31%;
}
#gameField .player {
    position: absolute;
    width: 145px;
    right: 0px;
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
}


#gameField .player_0 {
    top: 60%;
}
#gameField .player {
    position: absolute;
    width: 145px;
    right: 0px;
    font-size: 14px;
    word-break: break-word;
    line-height: 25px;
}
''
.table {
    /* width: 100%; */
    text-align: left;
    position: absolute;
    left: 180px;
    top: 40%;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
}


.deck {
    position: absolute;
    top: 40%;
    left: 15px;
    width: 71px;
    height: 100px;
    z-index: 1;
}


.pile {
    position: absolute;
    top: 40%;
    right: 85px;
}

#gameField .turn {
    position: absolute;
    top: 72%;
    width: 100%;
    text-align: center;
}


#gameField #buttons {
    position: absolute;
    top: 75.5%;
    width: 100%;
    text-align: center;
}


#gameField .hand_0 {
    bottom: 110px;
    position: absolute;
}

#gameField .hand {
    position: absolute;
    width: 100%;
    text-align: center;
}

#gameField .hand_1 {
    top: 10px;
    position: absolute;
}


#gameField .hand {
    position: absolute;
    width: 100%;
    text-align: center;
}

.animationCards {
    height: inherit;
    width: inherit;
}


.errorMessage {
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: white;
    color: red;
    border-radius: 2px;
    font-size: 12px;
    z-index: 10;
}